<form action="/cad" method="POST" >
    <p> Nome: </p>
    <input type="text" name="nome">
    <p> Email: </p>
    <input type="text" name="email">
    <p> Senha: </p>
    <input type="text" name="senha">
    <p> Usuário: </p>
    <input type="text" name="login">
    <br></br>
    <button type="submit">Cadastro de postagem</button>
</form>

